<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SinglePicCommon.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SinglePicCommon.framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>755DDDCE16AEF68F00AA8D29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>755DDDEA16AEF76E00AA8D29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>755DDE3016AEFFF800AA8D29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>755DDE5616AF056100AA8D29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>755DDE6616AF058E00AA8D29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
