DerivedData/
/SinglePic.xcworkspace/xcuserdata/ryanr.xcuserdatad/
/SinglePic/SinglePic.xcodeproj/xcuserdata/ryanr.xcuserdatad/
/SinglePic/SinglePic/._SPSignUpController.h
/SinglePic/SinglePic/._SPSignUpController.m