DerivedData/
/SinglePic.xcworkspace/xcuserdata/ryanr.xcuserdatad/
/SinglePic/SinglePic.xcodeproj/xcuserdata/ryanr.xcuserdatad/
/SinglePic/SinglePic/._SPSignUpController.h
/SinglePic/SinglePic/._SPSignUpController.m
/Resources/._Globe.png
/Resources/._Globe.pxm
/SinglePic.xcworkspace/xcuserdata/rrenna.xcuserdatad/UserInterfaceState.xcuserstate
/SinglePic.xcworkspace/xcuserdata/rrenna.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/SinglePic/Libraries/NAMapKit/._callout_anchor.png
/SinglePic/Libraries/NAMapKit/._callout_anchor@2x.png
/SinglePic/Libraries/NAMapKit/._callout_bg.png
/SinglePic/Libraries/NAMapKit/._callout_bg@2x.png
/SinglePic/Libraries/NAMapKit/._callout_left.png
/SinglePic/Libraries/NAMapKit/._callout_left@2x.png
/SinglePic/Libraries/NAMapKit/._callout_right.png
/SinglePic/Libraries/NAMapKit/._callout_right@2x.png
/SinglePic/Libraries/NAMapKit/._NAAnnotation.h
/SinglePic/Libraries/NAMapKit/._NAAnnotation.m
/SinglePic/Libraries/NAMapKit/._NACallOutView.h
/SinglePic/Libraries/NAMapKit/._NACallOutView.m
/SinglePic/Libraries/NAMapKit/._NAMapView.h
/SinglePic/Libraries/NAMapKit/._NAMapView.m
/SinglePic/Libraries/NAMapKit/._NAPinAnnotationView.h
/SinglePic/Libraries/NAMapKit/._NAPinAnnotationView.m
/SinglePic/Libraries/NAMapKit/._pinGreen.png
/SinglePic/Libraries/NAMapKit/._pinGreen@2x.png
/SinglePic/Libraries/NAMapKit/._pinGreenFloating.png
/SinglePic/Libraries/NAMapKit/._pinGreenFloating@2x.png
/SinglePic/Libraries/NAMapKit/._pinPurple.png
/SinglePic/Libraries/NAMapKit/._pinPurple@2x.png
/SinglePic/Libraries/NAMapKit/._pinPurpleFloating.png
/SinglePic/Libraries/NAMapKit/._pinPurpleFloating@2x.png
/SinglePic/Libraries/NAMapKit/._pinRed.png
/SinglePic/Libraries/NAMapKit/._pinRed@2x.png
/SinglePic/Libraries/NAMapKit/._pinRedFloating.png
/SinglePic/Libraries/NAMapKit/._pinRedFloating@2x.png
/SinglePic/SinglePic/._Credits.plist
/SinglePic/SinglePic/._SPLocationChooser.h
/SinglePic/SinglePic/._SPLocationChooser.m
/SinglePic/SinglePic/._SPOrientationChooser.m
SinglePic.xcworkspace/xcuserdata/rrenna360.xcuserdatad/UserInterfaceState.xcuserstate
SinglePic.xcworkspace/xcuserdata/rrenna360.xcuserdatad/xcdebugger/